<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/default.css">
    <title>{{title}}</title>
    <script src="https://lint.page/kit/67ff88.js" crossorigin="anonymous"></script>
    <script src="https://lint.page/kit/880bd5.js" crossorigin="anonymous"></script>
    <script src="scripts/HTMLInclude.js"></script>
    <script src="scripts/scripts.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/favicon_io/favicon.ico">
</head>