<header>
    <div class="header">
        <img src="images\favicon_io\android-chrome-192x192.png" alt="TuckTech logo">
        <h1>Zachary Tucker's Web Projects - WEB215</h1>
    </div>
    <nav class="navbar">
        <a href="index.html">Home</a> 
        <a href="introduction.html">Introduction</a> 
        <a href="contract.html">Contract</a>
    </nav>
    <nav class="navbar">
        <a href="https://mern-thinkboard-4b9v.onrender.com/" target="_blank">MERN Tutorial Application</a>
    </nav>
</header>