<header>
    <div class="header">
        <img src="images\favicon_io\android-chrome-192x192.png" alt="TuckTech logo">
        <h1>Zachary Tucker's Web Projects - WEB250</h1>
    </div>
    <nav class="navbar">
        <a href="index.html">Home</a> 
        <a href="introduction.html">Introduction</a> 
        <a href="contract.html">Contract</a>
        <a href="../web250/superduper_static/index.html">SuperDuper Static</a>
        <a href="../web250/superduper_php/index.php">SuperDuper PHP</a>
    </nav>
</header>