<header>
    <div class="header">
        <img src="images/favicon_io/android-chrome-192x192.png" alt="TuckTech logo">
        <h1>Zachary Tucker's Zany Terrapin | WEB250</h1>
    </div>

    <nav class="navbar">
        <a href="index.php?page=home">Home</a>
        <a href="index.php?page=introduction">Introduction</a>
        <a href="index.php?page=contract">Contract</a>
        <a href="../web250/superduper_static/index.html">SuperDuper Static</a>
        <a href="../web250/superduper_php/index.php">SuperDuper PHP</a>
    </nav>
</header>
