body.scheme-midnight {
    background-color: #E3DAC9;
    color: black;
}

body.scheme-midnight section.bg-alt,
body.scheme-midnight .testimonial {
    background-color: #3e2723
}

body.scheme-midnight a.cta-project:hover {
    border-color: #3e2723;
}

body.scheme-midnight blockquote,
body.scheme-midnight hr,
body.scheme-midnight .slider-controls button,
body.scheme-midnight a.cta-project {
    border-color: #3e2723
}

body.scheme-midnight blockquote {
    border-color: #8b4513;
}

body.scheme-midnight,
body.scheme-midnight div.boxed p a:hover,
body.scheme-midnight .testimonial figcaption strong,
body.scheme-midnight .top__link:hover,
body.scheme-midnight a.cta-project:hover {
    color: #3e2723;
}

body.scheme-midnight .bio-text p,
body.scheme-midnight .bio-links a {
    color: #E3DAC9;
}

li {
    color:#3e2723;
    margin-bottom: 20px;
}

label {
    color:#3e2723;
}

.top__brand, .overview, .slider-heading {
    color:#3e2723;
}

body.scheme-midnight .links a,
body.scheme-midnight .eyebrow,
body.scheme-midnight p,
body.scheme-midnight pre code,
body.scheme-midnight del,
body.scheme-midnight .slider-controls,
body.scheme-midnight .testimonial,
body.scheme-midnight .testimonial p,
body.scheme-midnight .site-footer,
body.scheme-midnight .site-footer a,
body.scheme-midnight a.cta-project {
    color: #8b4513;
}

body.scheme-midnight .testimonial figcaption,
body.scheme-midnight blockquote,
body.scheme-midnight blockquote p,
body.scheme-midnight blockquote a {
    color: #8b4513;
}

body.scheme-midnight .top__cta {
    background-color: #3e2723;
    color: #E3DAC9;
}

body.scheme-midnight .top__cta a {
    color: #1a1c20
}
