h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkolivegreen;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img {
    width: 50%;
    height: auto
}

html{
    background-color: rgb(194, 244, 208);
}