h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkolivegreen;
    background-color: antiquewhite;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img {
    width: 50%;
    height: auto
}