body {
    background-color: #e3dac9;
    padding: 1em;
    margin: 0px;
}

main{
    margin: 20px;
}

img {
    display: flex;
    float: right;
    max-width: 460px;
}

button {
    position: absolute;
    left: 20%;
}

.logo {
    display: inline-block;
    max-width: 350px;
}

.logo img {
    width: 30%;
    height:auto;
}

.banner {
    width: 100px;
    height: auto;  
    display: inline-block;
    align-items: center;
}

.header img{
    display: block;
    position: absolute;
    top: -5%;
}

.header {
    width: 100vw;
    justify-content: center;
}

h1 {
    color: #3e2723;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
}

label {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}

.form-container {
    margin-top: 35px;
    margin-left: 100px;
    border: 20px groove #8b4513;
    border-radius: 25px;
    padding: 15px;
    background-color: beige;
}

.navbar {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.navbar ul {
    list-style-type: none;
    background-color: #8b4513;
    padding: 0px;
    margin-right:auto;
    overflow: hidden;
}

.navbar li{
    float: left;
}

.navbar a {
    color: #e3dac9;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: #5c2e0d;
}

h2 {
    color: #8b4513;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

h3 {
    color:#3e2723;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #333333;
  display: flex;
  justify-content: center;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.word1 {
    color: green;
    font-weight: bold;
}

.word2 {
    color: darkolivegreen;
    font-weight: bolder;
}

.word3 {
    color:#8b4513;
    font-weight:900;
    text-decoration: line-through;
}

.first-div {
    color: green;
    font-weight: bold;
}

.second-div {
    color: darkolivegreen;
    font-weight: bolder;
}

.third-div {
    color:#8b4513;
    font-weight:900;
    text-decoration: line-through;
}

#loop {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem;
    margin: 1rem;
}

#numList {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

legend, label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

legend {
    font-weight: bolder;
}

fieldset {
    border: 10px groove #8b4513;
    border-radius: 25px;
}

input {
    box-shadow: 2px 2px 5px;
}

#courses {
    padding: 10px;
    margin: 5px;
}